mixin event_row(event)
  if event.event === "Transfer"
    tr
      td
        a(href="/event/" + event._id) #{event.event}
      td
        a(href="/account/" + event.args.from) #{event.args.from}
      td
        a(href="/account/" + event.args.to) #{event.args.to}
      td #{tokenformatter.format(event.args.value) ? tokenformatter.format(event.args.value) : tokenformatter.format(event.args.value.c)}
      td #{moment(event.timestamp * 1000).fromNow()}
  if event.event === "Approval"
    tr
      td
        a(href="/event/" + event._id) #{event.event}
      td
        a(href="/account/" + event.args._owner) #{event.args._owner}
      td
        a(href="/account/" + event.args._spender) #{event.args._spender}
      td #{tokenformatter.format(event.args.value) ? tokenformatter.format(event.args.value) : tokenformatter.format(event.args.value.c)}
      td #{moment(event.timestamp * 1000).fromNow()}